<% layout('layouts/boilerplate') %>
    <div class="row">
        <div class="col-6 offset-3">
            <h1 class="text-center">edit customer page</h1>

            <form action="/customers/<%=customer._id%>?_method=PUT " method="post">
                <div class="mb-3">
                    <label class="form-label" for="name">Customer Names</label>
                    <input class="form-control" type="text" name="name" id="name" value="<%=customer.name %>">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="Age">Customer Age</label>
                    <input class="form-control" type="number" name="Age" id="Age" value="<%=customer.Age %>">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="creditScore">Credit Score</label>
                    <input class="form-control" type="number" name="CreditScore" id="creditScore"
                        value="<%=customer.CreditScore %>">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="geography">Geography</label>
                    <select class="form-select" name="Geography" id="geography">
                        <% for( let geography of geographies ) { %>
                            <option value="<%=geography%>" <%=customer.Geography===geography ? 'selected' :'' %>>
                                <%=geography%>
                            </option>
                            <% } %>
                                <option value="France">France</option>
                                <option value="Germany">Germany</option>
                                <option value="Spain">Spain</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="Gender">Gender</label>
                    <select class="form-select" name="Gender" id="Gender">
                        <% for( let gender of genders ) { %>
                            <option value="<%=gender%>" <%=customer.Gender===gender ? 'selected' :'' %>><%=gender%>
                            </option>
                            <% } %>
                    </select>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="Tenure">Tenure</label>
                    <input class="form-control" type="number" name="Tenure" id="Tenure" value="<%=customer.Tenure %>">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="Balance">Available Balance</label>
                    <input class="form-control" type="number" name="Balance" id="Balance"
                        value="<%=customer.Balance %>">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="NumberOfProducts">Number Of Products</label>
                    <input class="form-control" type="number" name="NumberOfProducts" id="NumberOfProducts"
                        value="<%=customer.NumberOfProducts %>">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="HasCrCard">Has Credit Card <strong>(Yes:1, No:0)</strong>:</label>
                    <input class="form-control" type="number" name="HasCrCard" id="HasCrCard"
                        value="<%=customer.HasCrCard %>">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="IsActiveMember">Is Active Member <strong>(Yes:1,
                            No:0)</strong>:</label>
                    <input class="form-control" type="number" name="IsActiveMember" id="IsActiveMember"
                        value="<%=customer.IsActiveMember %>">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="EstimatedSalary">Estiamted Salary </label>
                    <input class="form-control" type="number" name="EstimatedSalary" id="EstimatedSalary"
                        value="<%=customer.EstimatedSalary %>">
                </div>
                <a class="btn btn-outline-danger" href="/customers">Cancel</a>
                <div class="d-inline mb-3">
                    <button class="btn btn-info">Update</button>
                </div>
            </form>

        </div>
    </div>