<% layout('layouts/boilerplate') %>

    <div class="panel-body mt-4">
        <div class="row">
            <div class="col-md-4">
                <img alt="" style="width:600px;" title="" class="img-circle img-thumbnail isTooltip"
                src="https://www.seekpng.com/png/detail/966-9665493_my-profile-icon-blank-profile-image-circle.png"
                    data-original-title="Usuario">
            </div>
            <div class="col-md-8">
                <div class="table-responsive">
                    <table class="table table-user-information">
                        <tbody>
                            <tr>
                                <td>
                                    <strong>
                                        <span class="text-primary"><i class="bi bi-asterisk text-primary"></i></span>
                                        Customer Identification
                                    </strong>
                                </td>
                                <td class="text-primary">
                                    <%=customer._id %>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        <span class="text-primary"><i class="bi bi-person-fill"></i></span>
                                        Customer Name
                                    </strong>
                                </td>
                                <td class="text-primary">
                                    <%=customer.name %>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        <span class="text-primary"><i class="bi bi-calendar3"></i></span>
                                        Age
                                    </strong>
                                </td>
                                <td class="text-primary">
                                    <%=customer.Age %>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <strong>
                                        <span class="text-primary"><i class="bi bi-info-circle-fill"></i></span>
                                        Gender
                                    </strong>
                                </td>
                                <td class="text-primary">
                                    <%=customer.Gender %>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <strong>
                                        <span class="text-primary"><i class="bi bi-award-fill"></i></span>
                                        Tenure
                                    </strong>
                                </td>
                                <td class="text-primary">
                                    <%=customer.Tenure %>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        <span class="text-primary"><i class="bi bi-envelope-fill"></i></span>
                                        Email
                                    </strong>
                                </td>
                                <td class="text-primary text-muted">
                                    noreply@email.com
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        <span class="text-primary"><i class="bi bi-bookmark-check-fill"></i></span>
                                        Products Owned
                                    </strong>
                                </td>
                                <td class="text-primary">
                                    <%=customer.NumberOfProducts %>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        <span class="text-primary"><i class="bi bi-wallet-fill"></i></span>
                                        Estimated Salary
                                    </strong>
                                </td>
                                <td class="text-primary">
                                    <span >R</span>
                                    <%=customer.EstimatedSalary %>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="mt-4">
                    <a class="btn btn-info" href="/customers/<%= customer._id %>/edit">EDIT</a>
                    <form class="d-inline" action="/customers/<%=customer._id%>?_method=DELETE" method="post">
                        <button class="btn btn-danger">DELETE</button>
                    </form>
                </div>
            </div>
        </div>
    </div>